.air-header,
.--ui-context-content-light .air-header {
	--topbar-bg: var(--ui-color-bg-content-primary);
	--topbar-bg-stroke: var(--ui-color-bg-content-primary);
	--topbar-bg-stroke-weight: 0;
	--topbar-bg-blur: 0px;
}

.--ui-context-content-dark .air-header {
	--topbar-bg: #2d2d2d;
	--topbar-bg-stroke: #3d3d3d;
	--topbar-bg-stroke-weight: 0;
	--topbar-bg-blur: 0px;
}

.--ui-context-edge-dark .air-header {
	--topbar-bg: rgba(255, 255, 255, 0.1);
	--topbar-bg-stroke: transparent;
	--topbar-bg-stroke-weight: 0px;
	--topbar-bg-blur: var(--ui-bg-blur-less);
}

.--ui-context-edge-light .air-header {
	--topbar-bg: rgba(0, 0, 0, 0.05);
	--topbar-bg-stroke: transparent;
	--topbar-bg-stroke-weight: 0px;
	--topbar-bg-blur: var(--ui-bg-blur-less);
}

.air-header {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: var(--air-topbar-height);
	padding-left: var(--air-content-area-left-shift);
	padding-right: 140px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--topbar-bg-stroke-weight) solid var(--topbar-bg-stroke);
}

.air-header::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:
		linear-gradient(to right, var(--topbar-bg), var(--topbar-bg)),
		var(--air-theme-background-blurred, none)
	;
	z-index: -1;
}

.air-header__menu {
	height: var(--air-topbar-height);
	flex: 1;
}

.air-header__personal-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.air-header__logo {
	margin-right: 14px;
}

@container app-header (max-width: 968px) {
	.air-header__logo {
		display: none;
	}
}

.air-header__burger {
	--ui-color: transparent;
	display: none;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 32px;
	padding: 0;
	position: relative;
	left: -8px;
	margin-right: 8px;
	border: none;
	background-color: var(--ui-color);
	border-radius: var(--ui-border-radius-md);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.air-header__burger:hover {
	background-color: var(--ui-color-hover);
}

.air-header__burger:active {
	background-color: var(--ui-color-active);
}

.air-header__burger-icon {
	display: block;
	width: 24px;
	height: 24px;
	mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.3 7.2C4.3 6.8134 4.6134 6.5 5 6.5H19C19.3866 6.5 19.7 6.8134 19.7 7.2C19.7 7.5866 19.3866 7.9 19 7.9H5C4.6134 7.9 4.3 7.5866 4.3 7.2Z' fill='%23333'/%3E%3Cpath d='M4.3 12C4.3 11.6134 4.6134 11.3 5 11.3H19C19.3866 11.3 19.7 11.6134 19.7 12C19.7 12.3866 19.3866 12.7 19 12.7H5C4.6134 12.7 4.3 12.3866 4.3 12Z' fill='%23333'/%3E%3Cpath d='M5 16.1C4.6134 16.1 4.3 16.414 4.3 16.8C4.3 17.1866 4.6134 17.5 5 17.5H19C19.3866 17.5 19.7 17.1866 19.7 16.8C19.7 16.414 19.3866 16.1 19 16.1H5Z' fill='%23333'/%3E%3C/svg%3E");
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	background-color: var(--ui-color-design-plain-na-content-icon);
}

.air-header__burger-counter {
	position: absolute;
	top: -2px;
	right: -4px;
	pointer-events: none;
}


.menu-sliding-mode .air-header__burger-counter {
	display: none;
}


.air-header-button__icon {
	display: none;
}

@container app-header (max-width: 1200px) {
	.air-header-button__icon {
		display: block;
		--ui-icon-set__icon-size: 18px;
		--ui-icon-set__icon-color: currentColor;
	}

	.air-header-button__text {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip-path: inset(50%);
		white-space: nowrap;
	}

	.air-header-button {
		padding: 4px;
	}
}

@media (max-width: 767px) {
	.air-header {
		padding-right: calc(var(--air-content-area-left-shift) + 40px);
	}

	.air-header__burger {
		display: flex;
	}
}

.air-header__buttons {
	position: relative;
	top: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 8px;
	flex-shrink: 0;
}

@container app-header (max-width: 639px) {
	.air-header__buttons {
		display: none;
	}
}

.air-header-button {
	--air-header-button-bg: var(--ui-color-background-transparent);
	--air-header-button-bg-hover: color-mix(in srgb, var(--air-header-button-bg) 100%, var(--ui-color-bg-state-hover-default-hex) var(--ui-color-bg-state-hover-default-opacity));
	--air-header-button-bg-active: color-mix(in srgb, var(--air-header-button-bg) 100%, var(--ui-color-bg-state-click-default-hex) var(--ui-color-bg-state-click-default-opacity));
	--air-header-button-border-width: var(--ui-design-outline-stroke-weight-alt);
	--air-header-button-border-color: var(--ui-color-design-outline-stroke);

	position: relative;
	padding: 3px 8px;
	color: var(--ui-color-design-outline-content);
	background: var(--air-header-button-bg);
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-3xs);
	border: var(--air-header-button-border-width) solid var(--air-header-button-border-color);
	border-radius: var(--ui-border-radius-lg);
	cursor: pointer;
	transition-timing-function: ease-in-out;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.air-header-button:hover {
	background: var(--air-header-button-bg-hover);
	transition-duration: 0s;
	outline: none;
}

.air-header-button:focus,
.air-header-button:active {
	background: var(--air-header-button-bg-active);
}

.air-header-button.--color-accent,
.air-header-button.--color-alert {
	--air-header-button-bg-hover: color-mix(in srgb, var(--air-header-button-bg) 100%, var(--ui-color-bg-state-hover-alt-hex) var(--ui-color-bg-state-hover-alt-opacity));
	--air-header-button-bg-active: color-mix(in srgb, var(--air-header-button-bg) 100%, var(--ui-color-bg-state-click-alt-hex) var(--ui-color-bg-state-click-alt-opacity));
	--air-header-button-border-color: var(--air-header-button-bg);

	color: var(--ui-color-design-filled-content);
}

.air-header-button.--color-accent {
	--air-header-button-bg: var(--ui-color-accent-main-success-alt);
}

.air-header-button.--color-alert {
	--air-header-button-bg: var(--ui-color-accent-main-alert);
}

.air-header-button.--with-backlight {
	--air-header-button-border-color: var(--ui-color-design-filled-alert-stroke);

	animation: air-header-button-border-pulse 1.5s 10 ease-in-out;
}

.air-header-button.--with-backlight::before {
	content: "";
	position: absolute;
	top: -18px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	border-radius: inherit;
	z-index: -1;
	filter: blur(3px);
	opacity: 0;
	transition-duration: inherit;
	transition-timing-function: inherit;
	transition-property: opacity;
	animation: air-header-button-pulse 1.5s 10 ease-in-out;
	pointer-events: none;
}

.air-header-button.--color-accent.--with-backlight::before {
	background: conic-gradient(from 0deg at 50% 51.19%, transparent -104.82deg, transparent 104.9deg, #7CFFC2 180deg, transparent 255.18deg, transparent 464.9deg);
}

.air-header-button.--color-alert.--with-backlight::before {
	background: conic-gradient(from 0deg at 50% 51.19%, transparent -104.82deg, transparent 104.9deg, rgb(253,182, 68) 180deg, transparent 255.18deg, transparent 464.9deg);
}

@keyframes air-header-button-pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes air-header-button-border-pulse {
	0% {
		border-color: var(--air-header-button-border-color);
	}
	50% {
		border-color: rgba(255, 255, 255, 0.4);
	}
	100% {
		border-color: var(--air-header-button-border-color);
	}
}

.air-header-button__counter {
	position: absolute;
	right: -7px;
	top: -8px;
}
