.ui-form-label {
	margin-bottom: 6px;
}

.connection-preview {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.connection-icon {
	width: 26px;
	height: 26px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;
}

.connection-name {
	color: var(--ui-color-link-primary-base);
	border-bottom: 1px dashed;
	cursor: pointer;
}
