.tasks-field-gantt-popup-container {
	--popup-window-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.21);
}

.tasks-field-gantt-popup {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0 10px 10px;
}

.tasks-field-gantt-popup-header {
	display: flex;
	justify-content: space-between;
}

.tasks-field-gantt-popup-header .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-field-gantt-popup-description {
	margin: 8px 0;
	color: var(--ui-color-base-3);
}

.tasks-field-gantt-popup-description-help {
	display: inline-flex;
	align-items: center;
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-link);
}

.tasks-field-gantt-popup-description-help span {
	color: var(--ui-color-accent-main-link);
	border-bottom: 1px solid var(--ui-color-accent-main-link-underline);
	cursor: pointer;
	white-space: nowrap;
}

.tasks-field-gantt-popup-buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-top: 24px;
}
