.booking-sre-app {
	height: 100%;
}

.booking-sre-app__layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.booking-sre-app__wrapper {
	display: flex;
	flex-direction: column;
	padding: 18px 20px 18px 22px;
	gap: 20px;
	position: relative;
	flex: 1;
	overflow: hidden;
	overflow-y: scroll;
}

.booking-sre-app__wrapper::-webkit-scrollbar {
	width: 5px;
}

.booking-sre-app__wrapper::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--ui-color-base-20);
}
