.booking--actions-popup--extra-resources-info__icon-edit button.ui-btn {
	padding-right: calc(var(--ui-btn-padding-left) - var(--ui-btn-icon-compensation));
}

.booking--actions-popup--extra-resources-info__icon-edit button.ui-btn .ui-icon-set {
	margin-right: 0;
}

.booking--booking--actions-popup--extra-resources-info--extra-resources-dialog .ui-selector-item-title {
	max-height: 2rem;
	text-wrap: auto;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.booking--booking--actions-popup--extra-resources-info--extra-resources-dialog .ui-selector-item-badges {
	flex-shrink: 0;
	max-height: 1.2rem;
	align-self: center;
}

.booking--extra-resources-info_element-overbooking .ui-label {
	margin-right: 0;
}
