.booking--rcw--avatar-field {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	margin-bottom: 0;
	gap: 8px;
}

.booking--rcw--avatar-container {
	position: relative;
	width: 78px;
	height: 78px;
	border-radius: 97px;
}

.booking--rcw--avatar {
	position: relative;
	width: 78px;
	height: 78px;
	border: var(--ui-border-width-thin) dashed var(--ui-color-palette-blue-50);
	border-radius: 97px;
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	overflow: hidden;
	transition: .4s;
}

.booking--rcw--avatar.--has-img {
	border: none;
	background: transparent;
}

.booking--rcw--avatar-container:hover .booking--rcw--avatar:not(.--has-img) {
	border-color: #6aa1ff;
	background-color: rgb(247, 248, 248);
}

.booking--rcw--avatar-img {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	object-fit: cover;
	object-position: center center;
	display: block;
	border-radius: 97px;
	margin: 1px;
}

.booking--rcw--avatar-icon {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 97px;

	opacity: var(--ui-opacity-none);
	transition: .4s;
}

.booking--rcw--avatar-icon.--default-icon {
	opacity: var(--ui-opacity-full);
}

.booking--rcw--avatar-icon.--hover-icon {
	background: rgba(247, 248, 248, 0.95);
}

.booking--rcw--avatar-icon .ui-icon-set.--picture {
	background-color: var(--ui-color-palette-gray-50);
}

.booking--rcw--avatar-icon .ui-icon-set.--download-3 {
	background-color: var(--ui-color-palette-gray-70);
	transform: rotate(180deg);
}

.booking--rcw--avatar:hover .booking--rcw--avatar-icon.--default-icon {
	opacity: var(--ui-opacity-none);
}

.booking--rcw--avatar:hover .booking--rcw--avatar-icon.--hover-icon {
	opacity: var(--ui-opacity-full);
}

.booking--rcw--avatar-remove {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 14px;
	height: 14px;
	border-radius: var(--ui-border-radius-xl);
	background-color: var(--ui-color-palette-white-base);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	transition: .4s;
	opacity: var(--ui-opacity-none);
}

.booking--rcw--avatar-remove .ui-icon-set {
	background-color: var(--ui-color-palette-gray-60);
}

.booking--rcw--avatar-container:hover .booking--rcw--avatar-remove,
.booking--rcw--avatar-remove:hover {
	cursor: pointer;
	opacity: var(--ui-opacity-full);
}
