.booking--crm-forms--field-group--available-slots-block__footer {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.booking--crm-forms--field-group--available-slots-block__btn-show-more {
	width: 160px
}

.booking--crm-forms--available-slots-block__empty-slots {
	margin: 4em 0;
	text-align: center;
}
