:root {
  --air-theme-bg-color: #213B5C;
  --air-theme-bg-size: cover;
  --air-theme-bg-repeat: no-repeat;
  --air-theme-bg-position: 0 0;
  --air-theme-bg-attachment: fixed;
  --air-theme-bg-image: url(/bitrix/templates/bitrix24/themes/light/snow-village/snow-village.jpg);
  --air-theme-bg-image-blurred: url(/bitrix/templates/bitrix24/themes/light/snow-village/snow-village-blurred.webp);
}
