.menu-items-stub {
	display: none;
	width: var(--menu-width-collapsed);
	height: 100%;
}

.menu-collapsed-mode.menu-sliding-mode .menu-items-stub,
.menu-collapsed-mode.menu-sliding-closing-mode .menu-items-stub {
	display: block;
}

.menu-items-block {
	box-sizing: border-box;
	position: static;
	width: var(--menu-width-expanded);
	height: 100%;
	padding: 0;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	transform: translateX(0);
	overflow: hidden;
	overflow: clip;
	overflow-clip-margin: 3px;
	transition: 0.2s ease-in-out background-color;
}

.menu-items-block::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--leftmenu-bg-expanded);
	z-index: -1;
}

.menu-collapsed-mode .menu-items-block,
.menu-animation-closing-mode .menu-items-block {
	width: var(--menu-width-collapsed);
}

.menu-collapsed-mode .menu-items-block::before,
.menu-animation-closing-mode .menu-items-block::before {
	background-color: var(--leftmenu-bg);
}

.menu-items-block::before,
.menu-collapsed-mode.menu-animation-opening-mode .menu-items-block::before {
	background-color: var(--leftmenu-bg-expanded);
}

.menu-collapsed-mode.menu-sliding-mode .menu-items-block {
	width: var(--menu-width-expanded);
}

.menu-collapsed-mode.menu-sliding-mode .menu-items-block::before {
	background-color: var(--leftmenu-bg-overlayed);
}

.menu-collapsed-mode.menu-sliding-mode .menu-items-block,
.menu-collapsed-mode.menu-sliding-closing-mode .menu-items-block {
	position: absolute;
	top: 0;
	left: 0;
}

.menu-items-block.--with-ai {
	padding-bottom: 66px;
}

.menu-collapsed-mode.menu-sliding-opening-mode .menu-items-block {
	transition: width ease-out 150ms;
}

.menu-collapsed-mode.menu-sliding-opening-mode .menu-items-block::before {
	transition: background-color ease-out 150ms;
}

.menu-collapsed-mode.menu-sliding-closing-mode .menu-items-block {
	transition: width ease-out 150ms;
}

.menu-collapsed-mode.menu-sliding-closing-mode .menu-items-block::before {
	transition: background-color ease-in 150ms;
}

.menu-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@media (prefers-reduced-motion: reduce) {
	.menu-items-block,
	.menu-items-block *,
	.menu-items-block *::before,
	.menu-items-block *::after,
	.left-menu-popup-wrapper,
	.left-menu-popup-wrapper *,
	.group-panel-content,
	.group-panel-content * {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
