:root {
  --air-theme-bg-color: #E3F3F3;
  --air-theme-bg-size: cover;
  --air-theme-bg-repeat: no-repeat;
  --air-theme-bg-position: 0 0;
  --air-theme-bg-attachment: fixed;
  --air-theme-bg-image: url(/bitrix/templates/bitrix24/themes/dark/easter-eggs/easter-eggs.jpg);
  --air-theme-bg-image-blurred: url(/bitrix/templates/bitrix24/themes/dark/easter-eggs/easter-eggs-blurred.webp);
}
