.booking-sidebar-calendar-container {
	--width: 274px;
	--height: 296px;
	--scale: calc(260 / 300);
	--real-width: calc(var(--width) * var(--scale));
	--real-height: calc(var(--height) * var(--scale));
	--real-height-count: calc(var(--height) * var(--scale) + 44px);
	width: var(--real-width);
	height: calc(var(--height) - var(--real-height));
	transition: height 180ms ease;
}

.booking-sidebar-calendar-container.--expanded {
	height: var(--real-height);
}

.booking-sidebar-calendar-container.--expanded.--counter {
	height: var(--real-height-count);
}

.booking-sidebar-calendar-container.--counter:not(.--expanded) {
	margin-bottom: 43px;
}

.booking-booking-sidebar-calendar {
	box-sizing: border-box;
	width: var(--width);
	max-height: var(--height);
	transform: scale(var(--scale));
	transform-origin: top left;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	background: var(--ui-color-palette-white-base);
	border-radius: 12px;
	border: 1px solid var(--ui-color-base-10);
	pointer-events: all;
}

.booking-booking-sidebar-calendar-header {
	display: flex;
	align-items: center;
}

.booking-booking-sidebar-calendar-header .ui-icon-set {
	--ui-icon-set__icon-size: 20px;
}

.booking-sidebar-button.--right {
	margin-right: auto;
}

.booking-booking-sidebar-calendar-title {
	min-width: 140px;
	text-align: center;
	color: var(--ui-color-base-90);
	font-size: var(--ui-font-size-lg);
}

.booking-booking-sidebar-calendar-date-picker {
	overflow: hidden;
	height: 0;
	transition: height 180ms ease;
}

.booking-sidebar-calendar-container.--expanded .booking-booking-sidebar-calendar-date-picker {
	height: 254px;
}
