.tasks-card-entity-collapsible-text {
	position: relative;
	overflow: hidden;
	line-break: auto;
	background: var(--ui-color-bg-content-primary);
	transition: .4s;
}

.tasks-card-entity-collapsible-text.--disable-animation {
	transition: none;
}

.tasks-card-entity-collapsible-text .ui-text-editor-scroller {
	overflow: hidden;
}

.tasks-card-entity-collapsible-edit-button,
.tasks-card-entity-collapsible-collapse-button {
	display: flex;
	cursor: pointer;
	align-items: center;
}

.tasks-card-entity-collapsible-edit-button {
	gap: var(--ui-space-inline-3xs);
	opacity: 0.8;
}

.tasks-card-entity-collapsible-edit-button:hover {
	opacity: 1;
}

.tasks-card-entity-collapsible-edit-button-text {
	color: var(--ui-color-base-3);
}

.tasks-card-entity-collapsible-edit-button-icon {
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}

.tasks-card-entity-collapsible-collapse-button {
	gap: var(--ui-space-inline-sm);
}

.tasks-card-entity-collapsible-collapse-button-text {
	color: var(--ui-color-accent-main-link);
}

.tasks-card-entity-collapsible-collapse-button-files {
	gap: var(--ui-space-inline-3xs);
	align-items: center;
	display: flex;
}

.tasks-card-entity-collapsible-collapse-button-icon {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-link);
}

.tasks-card-entity-collapsible-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: var(--ui-space-inset-md2);
}

.tasks-card-entity-collapsible-footer.--without-padding {
	padding-bottom: 0;
}

.tasks-card-entity-collapsible-footer.--with-edit-button {
	justify-content: space-between;
	padding-top: var(--ui-space-inset-sm);
}

.tasks-card-entity-collapsible-footer.--empty-content {
	box-sizing: content-box;
	padding: var(--ui-space-inset-sm) 0;
}

.tasks-card-entity-collapsible-text-button.--edit {
	position: static;
	padding: var(--ui-space-inset-sm) 0;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	gap: var(--ui-space-inline-xs);
}

.tasks-card-entity-collapsible-text-shadow {
	pointer-events: none;
}

.tasks-card-entity-collapsible-text-shadow-white-right,
.tasks-card-entity-collapsible-text-shadow-white-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.tasks-card-entity-collapsible-text-shadow-white-right {
	height: 110px;
	width: 25%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 25.84%, rgba(255, 255, 255, 1) 51.41%);
}

.tasks-card-entity-collapsible-text-shadow-white-bottom {
	height: 65px;
	width: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 1) 50%);
}

@supports (scrollbar-gutter: stable) {
	.tasks-full-card-field-container .tasks-entity-text-area-wrapper .ui-text-editor .ui-text-editor-scroller {
		scrollbar-gutter: auto;
	}
}

@supports not selector(::-webkit-scrollbar) {
	.tasks-full-card-field-container .tasks-entity-text-area-wrapper .ui-text-editor .ui-text-editor-scroller {
		scrollbar-width: none;
	}
}

.tasks-entity-text-area-wrapper {
	flex-grow: 1;
	overflow: hidden;
}

.tasks-entity-text-area-files {
	flex-grow: 1;
	margin: 0 var(--ui-space-inline-md2);
	padding: var(--ui-space-inset-xl) 0;
	border-top: var(--ui-border-width-thin) solid var(--ui-color-divider-default);
}

.b24-bottom-sheet .tasks-entity-text-area-files {
	margin: 0;
	padding: var(--ui-space-inset-md) var(--ui-space-inset-xl);
}

.tasks-card-entity-collapsible-shadow {
	pointer-events: none;
}

.tasks-card-entity-collapsible-shadow-white-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 1) 87.5%);
}

.tasks-card-entity-text-action-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: var(--ui-border-radius-3xs);
}

.tasks-card-entity-text-action-button-icon {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-card-entity-text-action-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.tasks-card-entity-text-action-button-text-copilot {
	color: var(--ui-color-copilot-primary);
}
