.market-detail__error-block {
	background-color: var(--ui-color-white-base);
	border: 1px solid var(--ui-color-g-content-glass-3, #dfe0e3);
	border-radius: var(--ui-border-radius-sm);
	margin: var(--ui-space-inline-2xl);
	padding: var(--ui-space-inline-2xl);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.market-detail__error-support {
	margin: 0 0 0 var(--ui-space-inline-2xl);
}

.market-detail__image {
	margin: var(--ui-space-inline-2xl) 0 0 0;
}

.market-detail__error-title {
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: var(--ui-font-size-3xl);
	line-height: var(--ui-font-line-height-sm, 1.35);
	color: var(--ui-color-base-default);
	margin: var(--ui-space-inline-xl) 0 0 0;
}

.market-detail__error-description {
	margin-top: 6px;
	color: #828B95;
}

.market-catalog__elements_no-updates-button {
	margin: var(--ui-space-inline-2xl) 0 var(--ui-space-inline-2xl) 0;
	display: flex;
	justify-content: center;
}

.market-detail__support-title {
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: var(--ui-font-size-3xl);
	line-height: var(--ui-font-line-height-sm, 1.35);
	color: var(--ui-color-base-default);
	margin: var(--ui-space-inline-2xl);
}

.market-detail__support-content {
	padding: var(--ui-space-inset-xl);
	background-color: var(--ui-color-white-base);
	border: 1px solid var(--ui-color-g-content-glass-3, #dfe0e3);
	border-radius: var(--ui-border-radius-sm);
	margin: var(--ui-space-inline-2xl);
}

.market-detail__support-separator {
	height: 1px;
	background-color: var(--ui-color-palette-gray-20);
	border: 0;
	margin-bottom: var(--ui-space-inline-2xl);
}