.booking-sre-app--skus-view--resource-selector .ui-tag-selector-outer-container {
	border: none;
}

.booking-sre-app--sku-item--price {
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-line-height-sm);
	letter-spacing: var(--ui-letter-spacing-l);
	color: var(--ui-color-base-50);
	margin-right: var(--ui-space-inline-xs);
}
