.tasks-field-responsible-new-user {
	--text-color: var(--ui-color-base-3);
	display: flex;
	gap: var(--ui-space-inline-xs);
	align-items: center;
	max-width: max-content;
	margin-top: 8px;
	padding: 0 2px;
	cursor: pointer;
}

.tasks-field-responsible-new-user.--disabled {
	--text-color: var(--ui-color-base-5);
	cursor: default;
}

.tasks-field-responsible-new-user-switcher {
	display: flex;
	gap: var(--ui-space-inline-xs);
	align-items: center;
}

.tasks-field-responsible-new-user-text {
	color: var(--text-color);
}
