.superset-dashboard-related-entities-list {
	border-radius: 12px;
	border: 1px solid var(--ui-color-divider-accent);
	width: 100%;
	max-height: 290px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	font-family: 'Inter', var(--ui-font-family-helvetica);

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.superset-dashboard-related-entities-list::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.superset-dashboard-related-entities-list-item {
	margin: 3px;
	border-radius: 8px;
}

.superset-dashboard-related-entities-list-item__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 12px;
	gap: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	border-radius: 8px;
	--ui-color: var(--ui-color-bg-content-primary);
	background-color: var(--ui-color);
}

.superset-dashboard-related-entities-list-item__header:hover {
	background-color: var(--ui-color-hover);
}

.superset-dashboard-related-entities-list-item__info {
	flex: 1;
}

.superset-dashboard-related-entities-list-item__title-wrapper {
	margin-bottom: 4px;
}

.superset-dashboard-related-entities-list-item__title span {
	--ui-color: var(--ui-color-accent-main-link);
	color: var(--ui-color);
}

.superset-dashboard-related-entities-list-item__title span:hover {
	color: var(--ui-color-hover);
}

.superset-dashboard-related-entities-list-item__type {
	color: var(--ui-color-base-3);
}

.superset-dashboard-related-entities-list-item__chevron {
	--ui-icon-set__icon-color: var(--ui-color-base-2);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	flex-shrink: 0;
	transform: rotate(0deg);
	cursor: pointer;
	user-select: none;
}

.superset-dashboard-related-entities-list-item__chevron:hover {
	opacity: 0.8;
}

.superset-dashboard-related-entities-list-item.--expanded .superset-dashboard-related-entities-list-item__chevron {
	transform: rotate(180deg) !important;
}

.superset-dashboard-related-entities-list-item__content {
	max-height: 0;
	overflow: hidden;
	padding: 0 12px;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
}

.superset-dashboard-related-entities-list-item.--expanded .superset-dashboard-related-entities-list-item__content {
	padding: 0 12px 16px 12px;
	opacity: 1;
}

.superset-dashboard-related-entities-list-sub-item {
	display: flex;
	align-items: center;
	padding: 14px 0;
	margin-left: 20px;
	gap: 4px;
	border-bottom: 1px solid var(--ui-color-divider-default);
}

.superset-dashboard-related-entities-list-item__content_last .superset-dashboard-related-entities-list-sub-item:last-child {
	border-bottom: none;
}

.superset-dashboard-related-entities-list-sub-item__icon {
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.superset-dashboard-related-entities-list-sub-item__title {
	display: block;
	width: 100%;
}

.superset-dashboard-related-entities-list-sub-item__title span {
	flex: 1;
	--ui-color: var(--ui-color-accent-main-link);
	color: var(--ui-color);
}

.superset-dashboard-related-entities-list-sub-item__title span:hover {
	color: var(--ui-color-hover);
}

.superset-dashboard-related-entities-list-sub-item__button {
	flex-shrink: 0;
}

.superset-dashboard-related-entities-list-item__divider-header {
	height: 1px;
	background: var(--ui-color-divider-default);
	margin: 0 12px;
	border: none;
}


.superset-dashboard-related-entities-list-item__divider-last-item {
	width: 100%;
	margin: 0;
}

/* last subitem of last item has no divider */
.superset-dashboard-related-entities-list-item:last-child .superset-dashboard-related-entities-list-item__content .superset-dashboard-related-entities-list-sub-item:last-child {
	border-bottom: none;
}

.superset-dashboard-related-entities-list-item__icon {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-link);
}