.booking--counter {
	z-index: 1;
	position: absolute;
	top: 2px;
	right: 2px;
	transform: translate(50%, -50%);
	pointer-events: none;
}

.booking--counter .ui-counter-inner {
	min-width: unset;
	width: var(--ui-counter-current-size);
	border-width: 2px;
}

.booking-counter-icon {
	display: flex;
	border-radius: 1in;
	border: var(--ui-border-width-thick) solid var(--ui-color-base-8);
}

.booking-counter-icon .ui-icon-set {
	--ui-icon-set__icon-size: 13px;
}


.booking-counter-icon.--confirmed {
	background: var(--ui-color-palette-green-60);
}

.booking-counter-icon.--confirmed .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-8);
	transform: scale(0.9);
}


.booking-counter-icon.--clocking {
	background: var(--ui-color-base-7);
}

.booking-counter-icon.--clocking .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-3);
	transform: scale(1.5);
}
