:root {
  --air-theme-bg-color: #0480C6;
  --air-theme-bg-size: cover;
  --air-theme-bg-repeat: no-repeat;
  --air-theme-bg-position: 0 0;
  --air-theme-bg-attachment: fixed;
  --air-theme-bg-image: url(/bitrix/templates/bitrix24/themes/light/cosmic-string/cosmic-string.jpg);
  --air-theme-bg-image-blurred: url(/bitrix/templates/bitrix24/themes/light/cosmic-string/cosmic-string-blurred.webp);
}
