.booking-actions-popup__item-waitlist-label {
	color: var(--ui-color-palette-gray-60);
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-align: left;
	text-decoration: underline dashed;
	text-underline-offset: 3px;
	text-decoration-color: var(--ui-color-palette-gray-40);
	transition: .2s;
}

.booking-actions-popup__item-waitlist-label:hover {
	text-decoration-color: var(--ui-color-palette-gray-80);
}

.booking-actions-popup__item-waitlist-row {
	display: flex;
	align-items: center;
}

.booking--booking-actions-popup__item-waitlist-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.booking--booking-actions-popup__item-waitlist-btn.--end {
	margin-left: 12px;
}

.booking--booking-actions-popup__item-waitlist-btn.--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.booking--booking-actions-popup__item-waitlist-btn.--locked .booking-actions-popup__item-waitlist-label {
	color: var(--ui-color-base-3);
}
