body {
	--air-theme-background:
		var(--air-theme-bg-image, none)
		var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto)
		var(--air-theme-bg-repeat, repeat)
		var(--air-theme-bg-attachment, scroll)
		var(--air-theme-bg-color, transparent)
	;

	--air-theme-background-blurred:
		var(--air-theme-bg-image-blurred, none)
		var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto)
		var(--air-theme-bg-repeat, repeat)
		var(--air-theme-bg-attachment, scroll)
	;

	background: var(--air-theme-background);
}
