.booking-sre-app__add-skus-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

.booking-sre-app__add-skus-button:hover {
	opacity: var(--ui-opacity-80);
}

.booking-sre-app__add-skus-button__label {
	color: var(--ui-color-on-primary);
	text-align: center;
	font-size: var(--ui-font-size-sm);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-line-height-2xs);
	letter-spacing: var(--ui-letter-spacing-l);
}

