.right-panel-ai-chat {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.right-panel-ai-chat__content {
	flex-grow: 1;
	overflow: hidden;
	height: 100%;
}

.right-panel-ai-chat__background {
	position: absolute;
	inset: 0;
	margin-right: calc(var(--air-right-bar-width) * -1);
	z-index: -1;
}
