:root {
  --air-theme-bg-color: #00A2D3;
  --air-theme-bg-size: cover;
  --air-theme-bg-repeat: no-repeat;
  --air-theme-bg-position: 0 0;
  --air-theme-bg-attachment: fixed;
  --air-theme-bg-image: url(/bitrix/templates/bitrix24/themes/light/meditation/meditation.jpg);
  --air-theme-bg-image-blurred: url(/bitrix/templates/bitrix24/themes/light/meditation/meditation-blurred.webp);
}
