.booking--crm-forms--time-selector-block-header {
	display: flex;
	padding-top: 12px;
	align-items: center;
	gap: 7px;
}

.booking--crm-forms--time-selector-block-resource {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 8px;
}

.booking--crm-forms--resource-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: var(--ui-border-radius-circle);
	overflow: hidden;
}

.booking--crm-forms--resource-avatar-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
}

.booking--crm-forms--resource-info {
	display: flex;
	flex-direction: column;
}

.booking--crm-forms--resource-name {
	overflow: hidden;
	color: var(--booking--crm-forms--resource-name-color);
	text-overflow: ellipsis;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.booking--crm-forms--resource-type-name {
	overflow: hidden;
	color: var(--booking--crm-forms--resource-type-name-color);
	text-overflow: ellipsis;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
