.booking-actions-popup__item {
	padding: 12px 9px;
}

.booking-booking-actions-popup .booking-booking-sticky-popup-content {
	background: var(--ui-color-base-02);
	margin-bottom: 10px;
}

.booking-booking-actions-popup-footer {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	margin-top: 7px;
}

.booking-booking-actions-popup-label {
	position: absolute;
	right: 12px;
	top: 1px;
	transform: translateY(-50%);
	padding: 1px 6px;
	border-radius: 1in;
	background: var(--ui-color-accent-light-blue);
	color: var(--ui-color-palette-white-base);
	font-size: var(--ui-font-size-6xs);
	font-weight: var(--ui-font-weight-bold);
	cursor: default;
}


.booking-actions-popup-item-info {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-right: auto;
}

.booking-actions-popup-item-icon {
	display: flex;
	height: max-content;
	padding: 3px;
	border: 1px dashed var(--ui-color-palette-gray-20);
	border-radius: 50%;
}

.booking-actions-popup-item-icon .ui-icon-set {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-20);
}

.booking-actions-popup-item-title {
	display: flex;
	margin-bottom: 2px;
	color: var(--ui-color-palette-gray-70);
	font-size: var(--ui-font-size-sm);
	font-weight: var(--ui-font-weight-medium);
}

.booking-actions-popup-item-title span {
	max-width: 142px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.booking-actions-popup-item-title .ui-icon-set {
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-30);
	cursor: pointer;
}

.booking-actions-popup-item-title .ui-icon-set:hover {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-40);
}

.booking-actions-popup-item-subtitle {
	color: var(--ui-color-palette-gray-50);
	font-size: var(--ui-font-size-xs);
}

.booking-actions-popup-item-buttons {
	display: flex;
	position: relative;
	justify-content: flex-end;
	gap: 8px;
	align-self: center;
}

.booking-actions-popup-item-buttons button {
	--ui-btn-padding: 0 8px;
	--ui-btn-height: var(--ui-size-md2);
	text-transform: var(--ui-text-transform-none);
	font-weight: var(--ui-font-weight-semi-bold);
}

.booking-actions-popup-item-buttons .ui-icon-set {
	position: absolute;
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-base-35);
}

.booking-actions-popup-item-buttons .ui-icon-set.--lock {
	position: relative;
}

.booking-actions-popup-plus-button .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-primary);
}

.booking-actions-popup-button-with-chevron .ui-icon-set {
	position: relative;
	margin-right: -5px;
	margin-left: 2px;
	--ui-icon-set__icon-size: 12px;
	--ui-icon-set__icon-color: var(--ui-color-base-40);
}

.booking-actions-popup-button-with-chevron.--lock .ui-btn-text,
.booking-actions-popup-button-with-chevron.--disabled .ui-btn-text {
	color: var(--ui-color-base-35);
}

.booking-actions-popup-item-buttons-counter {
	display: flex;
	position: absolute;
	background-color: var(--ui-color-palette-red-50);
	border-radius: 50%;
	width: 4px;
	height: 4px;
	right: 7px;
	bottom: 15px;
}

.booking-actions-popup__item.--disabled .booking-actions-popup-item-icon,
.booking-actions-popup__item.--disabled .booking-actions-popup-item-info,
.booking-actions-popup__item.--disabled .booking-actions-popup-item-buttons {
	opacity: 0.5;
	pointer-events: none;
	user-select: none;
}

.booking-actions-popup__item.--disabled .booking-actions-popup-item-title .ui-icon-set {
	pointer-events: all;
}

.booking__actions-popup-info_element {
	display: flex;
	flex-wrap: nowrap;
	padding: 8px 0;
	gap: 6px;
	min-height: 42px;
	box-sizing: border-box;
	align-items: center;
}

.booking__actions-popup-info_element-icon,
.booking--extra-resources-info_element-overbooking {
	flex-shrink: 0;
}

.booking__actions-popup-info_element-icon {
	--box-size: 22px;
	width: var(--box-size);
	height: var(--box-size);
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-circle);
	background: var(--ui-color-accent-soft-blue-2);
}

.booking__actions-popup-info_element-text {
	flex-grow: 1;
	max-height: 2rem;
	text-wrap: auto;
	white-space: break-spaces;
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.booking__actions-popup-info_element-price {
	margin-left: auto;
	font-weight: var(--ui-font-weight-regular);
	color: var(--ui-color-base-70);
}

.booking__actions-popup-info_container {
	overflow: hidden;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 0 4px;
	max-height: 100%;
}

.booking__actions-popup-info_content {
	overflow: auto;
	padding: 4px 0;
}

.booking__actions-popup-info_content::-webkit-scrollbar {
	width: 0;
}

.booking__actions-popup-info_footer {
	display: flex;
	margin-top: auto;
	flex-direction: row;
	font-size: var(--ui-font-size-sm);
	font-weight: var(--ui-font-weight-medium);
	border-top: 1px solid var( --ui-color-divider-less);
	padding-top: 10px;
}

.booking__actions-popup-info_footer-total {
	margin-left: auto;
}

.booking-actions-popup__resources-info_row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: start;
}

.booking-actions-popup__resources-info_row-wrapper {
	display: flex;
	gap: 8px;
	min-height: 35px;
}

.booking-actions-popup__resources-info_subtitle {
	color: var(--ui-color-palette-gray-50);
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-3xs);
	cursor: default;
}

.booking-actions-popup__resources-info_subtitle .--fill {
	border-bottom: 1px dashed rgba(var(--ui-color-palette-gray-50-rgb), var(--ui-opacity-30));
	cursor: pointer;
	transition: .2s;
}

.booking-actions-popup__resources-info_subtitle .--fill:hover {
	border-bottom: 1px dashed rgba(var(--ui-color-palette-gray-50-rgb), var(--ui-opacity-80));
}


.booking-actions-popup__resources-info_title {
	display: flex;
	align-items: center;
}

.booking-actions-popup__resources-info_title > span {
	color: var(--ui-color-palette-gray-70);
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-2xs);
}

.booking-actions-popup__resources-info_title .ui-icon-set {
	--ui-icon-set__icon-size: 16px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-30);
	cursor: pointer;
}

.booking-actions-popup__resources-info_title .ui-icon-set:hover {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-40);
}

.booking-actions-popup__resources-info_content {
	flex-grow: 1;
}

.booking-actions-popup__resources-info_icon-product-bg.--active {
	background-color: rgba(222, 237, 255, 1);
	border: 1px solid rgba(222, 237, 255, 1);
}
