.booking-wait-list-add button {
	margin-right: 4px;
	--ui-btn-padding: 0 8px;
	--ui-btn-height: var(--ui-size-md2);
	--ui-btn-background: var(--ui-color-palette-blue-20);
	text-transform: var(--ui-text-transform-none);
	font-weight: var(--ui-font-weight-semi-bold);
	border: none;
}

.ui-draggable--type-move .booking-wait-list-add button {
	pointer-events: none;
}

.booking-wait-list-add-locked {
	padding: 0 2px;
}
