.market-rating-stars-input {
	display: inline-flex;
	align-items: center;
	gap: 2px;
}

.market-rating-stars-input__star {
	margin: 0 1px;
	transition: .2s;
}

.market-rating-stars-input__star.--pointer {
	cursor: pointer;
}

.market-rating-stars-input__star path {
	fill: transparent;
	stroke: var(--market-rating-stars-input-empty-stroke, #d5d7db);
	transition: .2s;
}

.market-rating-stars-input__star.--active path {
	fill: #ffa900;
	stroke: transparent;
}

.market-rating-stars-input__star.--pointer:hover {
	transform: scale(1.15);
}

.market-rating-stars-input__star.--pointer:not(.--active):hover path{
	stroke: var(--market-rating-stars-input-empty-hover-stroke, #a8adb4);
}

.market-rating-stars-input__star.--error {
	animation: market-rating-stars-input-star-error 0.2s ease-in-out;
}

@keyframes market-rating-stars-input-star-error {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

