.feed-add-post-form-editor-btn {
	margin: 0 !important;
}

/* region marta ai highlight border */
@property --gradient-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.ui-entity-cards-drag .ui-entity-editor-section.--marta-ai-configured-section::before,
.ui-entity-cards-drag .ui-entity-editor-section.--marta-ai-configured-section::after {
	display: none;
}

.ui-entity-editor-section.--marta-ai-configured-section {
	--crm-marta-highlight-border-radius: 8px;
	--crm-marta-highlight-border-width: 2px;
	--crm-marta-glow-border-width: 4px;

	position: relative;
	margin-bottom: 17px;
	margin-left: var(--crm-marta-glow-border-width);
	border-radius: var(--crm-marta-highlight-border-radius);
	max-width: calc(100% - (2 * var(--crm-marta-highlight-border-width)));
}

.ui-entity-editor-section.--marta-ai-configured-section:first-child {
	margin-top: var(--crm-marta-highlight-border-width);
}

.ui-entity-editor-section.--marta-ai-configured-section::before,
.ui-entity-editor-section.--marta-ai-configured-section::after {
	--gradient-angle: 0deg;
	--border-width: var(--crm-marta-highlight-border-width);
	--border-radius: var(--crm-marta-highlight-border-radius);

	content: '';
	position: absolute;

	left: calc(-1 * var(--border-width));
	bottom: calc(-1 * var(--border-width));

	width: calc(100% + (2 * var(--border-width)));
	height: calc(100% + (2 * var(--border-width)));
	border-radius: 10px;
	background-origin: border-box;

	animation: marta-highlight-border-animation 4s steps(20) infinite;
}

.ui-entity-editor-section.--marta-ai-configured-section::before {
	z-index: -1;

	background-image: conic-gradient(
		from var(--gradient-angle) at 50% 51.19%,
		#0075FF 0deg,
		#7CFFC2 180deg,
		#0075FF 360deg
	);
}

.ui-entity-editor-section.--marta-ai-configured-section::after {
	--border-width: var(--crm-marta-glow-border-width);

	z-index: -2;
	filter: blur(6px);

	background-image:
		conic-gradient(
			from var(--gradient-angle) at 50% 51.19%,
			rgba(0, 117, 255, 0) -104.82deg,
			rgba(0, 117, 255, 0) 104.9deg,
			#7CFFC2 180deg,
			rgba(0, 117, 255, 0) 255.18deg,
			rgba(0, 117, 255, 0) 464.9deg
		),
		conic-gradient(
			from var(--gradient-angle) at 50% 50%,
			rgba(255, 255, 255, 0) -57.96deg,
			rgba(230, 230, 230, 0) 89.51deg,
			#7CFFC2 163.7deg,
			#7CFFC2 198.58deg,
			#7CFFC2 222.67deg,
			rgba(255, 255, 255, 0) 302.04deg,
			rgba(230, 230, 230, 0) 449.51deg
		);
}

@keyframes marta-highlight-border-animation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}
/* endregion */