.booking-sre-app__sku-settings {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 20px 24px;
	border-radius: var(--ui-border-radius-2xl);
	background: var(--ui-color-palette-white-base);
}

.booking-sre-app__sku-settings_description {
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-font-line-height-2xs);
	letter-spacing: var(--ui-letter-spacing-l);
}

.booking-sre-app__sku-settings-content {
	position: relative;
}

.booking-sre-app__sku-settings-content .ui-form-row-inline {
	margin-bottom: 0;
}
