.booking--booking--crm-forms-popup__wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 1;
}

.booking--booking--crm-forms-popup__header-title-row {
	display: flex;
	flex-direction: row;
	gap: var(--ui-space-inline-2xs2);
	align-items: center;
}

.booking--booking--crm-forms-popup__header-title {
	color: var(--ui-color-text-primary, #333);
	font-size: var(--ui-font-size-2xl);
	font-style: normal;
	font-weight: var(--ui-font-weight-medium);
	line-height: 26px;
	letter-spacing: var(--ui-letter-spacing-s);
}

.booking--booking--crm-forms-popup__header-description {
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-normal);
	line-height: 18px;
}

.booking--booking--crm-forms-popup__toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.booking--booking-crm-forms-popup__list-wrapper {
	background: var(--ui-color-palette-white-base, #FFF);
	border-radius: 12px;
	border: var(--ui-border-width-thin) solid rgba(var(--ui-color-palette-black-solid-rgb), var(--ui-opacity-10));
	display: flex;
	flex-grow: 1;
}

.booking--booking--crm-forms-popup--footer-buttons-bar {
	display: flex;
	justify-content: end;
	gap: 12px;
}
