.crm-timeline__card-logo_add-icon {
	content: '';
	--add-icon-size: var(--ui-size-3xl, 34px);
	bottom: var(--ui-space-inline-3xs, 2px);
	right: var(--ui-space-inline-3xs, 2px);
	width: var(--add-icon-size);
	height: var(--add-icon-size);
	border-radius: var(--ui-border-radius-2xl, 16px) 0 var(--ui-border-radius-lg, 12px) 0;
	background-color: var(--ui-color-background-primary, #ffffff);
	opacity: var(--ui-opacity-full, 1);
	display: block;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	transition: background-color 0.2s linear;
	box-shadow: -1px -1px 2px rgba(0, 83, 109, 0.06);
	z-index: 2;
	overflow: hidden;
}

.crm-timeline__card-logo_add-icon > i {
	display: block;
	width: 100%;
	height: 100%;
	mask-position: center center;
	mask-repeat: no-repeat;
	background-color: var(--ui-color-primary, #2fc6f6);
}

/* region Types */
.crm-timeline__card-logo_add-icon.--type-success > i {
	background-color: var(--ui-color-primary-alt, #9dcf00);
}

.crm-timeline__card-logo_add-icon.--type-failure > i {
	background-color: var(--ui-color-background-on-alert, #e92f2a);
}

.crm-timeline__card-logo_add-icon.--type-secondary > i {
	background-color: var(--ui-color-palette-gray-60, #959ca4);
}

.crm-timeline__card-logo_add-icon.--type-purple > i {
	background-color: var(--ui-color-accent-purple, #a77bde);
}
/* endregion */

.crm-timeline__card-logo_add-icon.--icon-call-incoming > i {
	mask-image: url('../../../images/timeline-card-logos/call/crm-timeline__call-incoming.svg');
}

.crm-timeline__card-logo_add-icon.--icon-call-outgoing > i {
	mask-image: url('../../../images/timeline-card-logos/call/crm-timeline__call-outgoing.svg');
}

.crm-timeline__card-logo_add-icon.--icon-arrow-incoming > i {
	background-color: var(--ui-color-background-primary, #ffffff);
	background-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline_arrow-incoming.svg');
}

.crm-timeline__card-logo_add-icon.--icon-arrow-outgoing > i {
	background-color: var(--ui-color-background-primary, #ffffff);
	background-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline_arrow-outgoing.svg');
}

.crm-timeline__card-logo_add-icon.--icon-done > i {
	background-color: var(--ui-color-background-primary, #ffffff);
	background-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline_done.svg');
}

.crm-timeline__card-logo_add-icon.--icon-alert > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__alert.svg');
}

.crm-timeline__card-logo_add-icon.--icon-check > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__check.svg');
}

.crm-timeline__card-logo_add-icon.--icon-refresh > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__refresh.svg');
}

.crm-timeline__card-logo_add-icon.--icon-search > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__search.svg');
}

.crm-timeline__card-logo_add-icon.--icon-double-check > i {
	mask-size: 20px;
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__double-check.svg');
}

.crm-timeline__card-logo_add-icon.--icon-arrow > i {
	transform: scale(1, -1) rotateZ(-90deg);
	mask-image: url('../../../images/timeline-card-logos/call/additions/crm-timeline__arrow.svg');
}

.crm-timeline__card-logo_add-icon.--icon-cross > i {
	mask-image: url('../../../images/timeline-card-logos/call/additions/crm-timeline__cross.svg');
	background-position: center;
}

.crm-timeline__card-logo_add-icon.--icon-sign > i {
	background-color: var(--ui-color-palette-blue-60, #1aa9d6);
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__sign.svg');
}

.crm-timeline__card-logo_add-icon.--icon-progress > i {
	background-color: var(--ui-color-palette-gray-60, #959ca4);
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__progress.svg');
}

.crm-timeline__card-logo_add-icon.--icon-pencil > i {
	mask-image: url('../../../images/common/crm-timelime__pencil.svg');
}

.crm-timeline__card-logo_add-icon.--icon-unavailable > i {
	background-color: var(--ui-color-text-warning, #ffa900);
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__unavailable.svg');
}

.crm-timeline__card-logo_add-icon.--icon-cross > i {
	background-color: transparent;
	background-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__cross.svg');
}

.crm-timeline__card-logo_add-icon.--icon-a-letter > i {
	mask-image: url('../../../images/timeline-card-logos/ai/additions/crm-timeline__a-letter.svg');
}

.crm-timeline__card-logo_add-icon.--icon-shape > i {
	mask-image: url('../../../images/timeline-card-logos/ai/additions/crm-timeline__shape.svg');
}

.crm-timeline__card-logo_add-icon.--icon-circle-check > i {
	mask-image: url('../../../images/timeline-card-logos/ai/additions/crm-timeline__circle-check.svg');
}

.crm-timeline__card-logo_add-icon.--icon-ai-scoring > i {
	mask-image: url('../../../images/timeline-card-logos/ai/additions/crm-timeline__ai-scoring.svg');
}

.crm-timeline__card-logo_add-icon.--icon-cloud > i {
	mask-image: url('../../../images/timeline-card-logos/zoom/additions/crm-timeline__cloud.svg');
}

.crm-timeline__card-logo_add-icon.--icon-clock > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__clock.svg');
}

.crm-timeline__card-logo_add-icon.--icon-comment > i {
	mask-image: url('../../../images/timeline-card-logos/document/additions/crm-timeline__comment.svg');
}

.crm-timeline__card-logo_add-icon.--icon-livechat > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__channel-chat.svg');
}

.crm-timeline__card-logo_add-icon.--icon-avito > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__avito-icon.svg');
}

.crm-timeline__card-logo_add-icon.--icon-wechat > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__wechat.svg');
}

.crm-timeline__card-logo_add-icon.--icon-olx > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__olx.svg');
}

.crm-timeline__card-logo_add-icon.--icon-imessage > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__apple.svg');
}

.crm-timeline__card-logo_add-icon.--icon-facebook > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__fb.svg');
}

.crm-timeline__card-logo_add-icon.--icon-facebookmessenger > i,
.crm-timeline__card-logo_add-icon.--icon-facebookcomments > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__fb-chat.svg');
}

.crm-timeline__card-logo_add-icon.--icon-fbinstagram > i,
.crm-timeline__card-logo_add-icon.--icon-fbinstagramdirect > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__instagram-direct.svg');
}

.crm-timeline__card-logo_add-icon.--icon-network > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__bitrix.svg');
}

.crm-timeline__card-logo_add-icon.--icon-ok > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__ok.svg');
}

.crm-timeline__card-logo_add-icon.--icon-telegram > i,
.crm-timeline__card-logo_add-icon.--icon-telegrambot > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__telegram.svg');
}

.crm-timeline__card-logo_add-icon.--icon-viber > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__viber.svg');
}

.crm-timeline__card-logo_add-icon.--icon-vkgroup > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__vk-icon.svg');
}

.crm-timeline__card-logo_add-icon.--icon-vkgrouporder > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__vk-order.svg');
}

.crm-timeline__card-logo_add-icon.--icon-notifications > i,
.crm-timeline__card-logo_add-icon.--icon-whatsappbytwilio > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__whatsapp-bitrix.svg');
}

.crm-timeline__card-logo_add-icon.--icon-whatsappbyedna > i {
	mask-image: url('../../../images/timeline-card-logos/chanell/crm-timeline__whatsapp.svg');
}
