.dashboard-params-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 17px;
	margin-bottom: 8px;
}

.dashboard-params-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	color: var(--ui-color-palette-gray-90);
}

.dashboard-params-list-link {
	font-size: 14px;
	color: var(--ui-color-link-primary-base);
	border-bottom: 1px dashed var(--ui-color-link-primary-base);
	cursor: pointer;
}

.dashboard-params-groups-selector {
	margin-bottom: 16px;
}

.dashboard-params-scope-selector {
	margin-bottom: 16px;
}

.biconnector-settings-entity-selector .ui-selector-tab-labels {
	display: none;
}

.dashboard-params-container .ui-tag-selector-tag {
	max-width: 230px;
}

.dashboard-params-container .ui-tag-selector-tag.ui-tag-selector-tag-readonly {
	cursor: default;
}

.biconnector-scope-confirmation-popup-content {
	margin-top: 12px;
	font-weight: var(--ui-font-weight-normal);
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-palette-gray-90);
}

.ui-tag-selector-outer-container {
	border-radius: var(--ui-border-radius-2xs) !important;
}

.ui-require-sign {
	color: var(--ui-color-accent-main-alert);
	padding-left: 2px;
}
